@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "tailwindcss-motion";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@font-face {
  font-family: Geist;
  font-display: swap;
  src: url("/geist.woff2") format("woff2");
}

@font-face {
  font-family: Calistoga;
  font-display: swap;
  src: url("/calistoga.woff2") format("woff2");
}

@theme {
  --font-sans: Geist, sans-serif;
  --font-serif: Calistoga;
  --color-primary: var(--color-yellow-600);
  --color-background: var(--color-gray-100);
}

:root {
  interpolate-size: allow-keywords;
  
  @media (prefers-color-scheme: dark) {
    --color-primary: var(--color-indigo-300);
    --color-background: var(--color-gray-900);
  }
}

body {
  @apply antialiased;
  @apply bg-background;
}

@layer components {
  .typography {
    p {
      font-size: var(--text-base);
      color: var(--color-gray-700);
    }
    h1 {
      font-size: var(--text-2xl--line-height);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }
    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }
  }
}

@keyframes slideUp {
	from {
		height: var(--radix-collapsible-content-height);
	}
	to {
		height: 0;
	}
}

@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--radix-collapsible-content-height);
	}
}
